<div *ngIf="!isFetching">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'Vali kategooria' }}</mat-label>
    <mat-select [(ngModel)]="chosenCategory">
      <mat-option [value]="">{{'Kõik'}}</mat-option>
      <mat-option *ngFor="let item of items | unique" [value]="item.category">
        {{item.category}}
      </mat-option>
    </mat-select>
  </mat-form-field> 


  <div class= "items-list">
    <div *ngFor="let item of items | filterByCategory:chosenCategory; let i = index" 
      class="item" 
      [routerLink]="['view', i]" >
      
        <div class="item-image">
          <img src="{{ item.imgSrc }}">
        </div>
        <p>
    {{ item.title }}
    {{ item.price }}
        </p>
    </div>
  </div>

</div>

<div *ngIf="isFetching">
<app-loading-spinner></app-loading-spinner>
</div>