
<mat-form-field appearance="fill">
  <mat-label>{{ 'Vali kategooria' }}</mat-label>
  <mat-select [(ngModel)]="chosenCategory">
    <mat-option [value]="">{{'Kõik'}}</mat-option>
    <mat-option *ngFor="let item of items | unique" [value]="item.category">
      {{item.category}}
    </mat-option>
  </mat-select>
</mat-form-field> 

<div *ngFor="let item of items | filterByCategory:chosenCategory; let i = index" class= "items-list">
  <div class="item" [routerLink]="['view', i]">
    <div class="item-image">
      <img src="{{ item.imgSrc }}">
    </div>
{{ item.title }}
{{ item.price }}
  </div>
</div>

<app-loading-spinner></app-loading-spinner>